 <!-- About Section -->
    <section class="portfolio" id="actu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CHUTT - Qui sommes-nous ?</h2>
                    <hr class="star-primary">
                </div>
            </div>
        <div class="row" style="padding-top: 30px; padding-bottom: 30px;">   
            <div class="col-lg-1">
            </div>
                <div class="col-lg-5 text-center">
                    <br>
                    <p style="text-align: justify">... ou plutôt où sommes-nous !<br>
                    Bienvenue chez nous, nous sommes à Septèmes.
                    Situer Septèmes sur la carte, c'est assez simple. Vous voyez ce "V" ?
                    Ce V, c'est l'intersection des deux autoroutes A7 et A51 qui traversent notre commune. Ce "V" c'est un vroum incessant de 75 dB avec lesquels nous essayons de vivre.<br> C'est justement la raison pour laquelle, nous nous sommes regroupés en association et luttons contre les nuisances de l'autoroute. Et vu le vacarme, il faudra parler fort, alors nous avons besoin de vous tous, rejoignez-nous!</p>
                </div>
                <div class="col-lg-5 text-center vcenter">
                    <img src="/img/cartebruit.png" class="img-circle img-responsive">
                </div>
                  <div class="col-lg-1">
            </div>
                </div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="padding-top: 20px">Marre du bruit ? Mettez sur pause. Nous, on en rêve. </p>
            </div>
        </div>

         <div class="row">
             <div class="col-lg-3">
             </div>
            <div class="resp-container col-lg-6">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/-WupZ_0yqbg?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-3">
            </div>
        </div>

        <div class="row" style="padding-top: 100px">
                <div class="col-lg-12 text-center">
                    <h2>Nos projets</h2>
                    <hr class="star-primary">
                </div>
            </div>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 text-center">

            <p>L’A51 de nos rêves! Et vous, quelles sont vos idées pour une autoroute plus respectueuse des riverains et de l’environnement ?</p>
        </div>
             <div class="col-lg-2">
            </div>
    </div>

        <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4 text-center">
                    <br>
                    <img src="/img/avant.jpg" class="img-responsive img-rounded">
                </div>
                <div class="col-lg-4 text-center">
                    <br>
                    <img src="/img/apres.jpg" class="img-responsive img-rounded">
                </div>
                 <div class="col-lg-2">
                </div>
            </div>

        <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4 text-center">
                    <br>
                    <img src="/img/avant_2.jpeg" class="img-responsive img-rounded">
                </div>
                <div class="col-lg-4 text-center">
                    <br>
                    <img src="/img/apres_2.png" class="img-responsive img-rounded">
                </div>
                 <div class="col-lg-2">
                </div>
            </div>

       


    </div>
    </section>
