 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CHUTT - Qui sommes-nous?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Le Collectif de la Haute-Bedoule Uni pour un Trafic plus Tranquille (CHUTT) est une association de riverains créee pour lutter contre les nuisances -bruit et pollution- de l'autoroute A51 aux abords du Chemin de la Haute-Bedoule</p>
                </div>
                <div class="col-lg-4">
                    <p>Nous demondons la construction d'un mur anti-bruit le long du chemin de la Haute-Bedoule (long de 400 mètres) à Séptèmes-les-Vallons.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
