 <!-- About Section -->
    <section class="portfolio" id="actu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>CHUTT - Qui sommes-nous ?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <iframe width='400' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://carto.marseille-provence.fr/geowebMPM/cityportal/CityPortal/map.do?X=845185.60267385&Y=125872.08893047&Scale=6&tabname=risquebruit24&opac=45&mode=Bruit&dec=ajax'></iframe>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <br>
                    <p style="text-align: justify">... ou plutôt où sommes-nous !<br>
                    Bienvenue chez nous, nous sommes à Septèmes.
                    Situer Septèmes sur la carte, c'est assez simple. Vous voyez le "V" ?
                    Le V, c'est l'intersection des deux autoroutes A7 et A51 qui traversent notre commune. Ce "V" c'est un vroum incessant de 75 dB avec lesquels nous</p>
                </div>
                <div class="col-lg-4">
                    <br>
                    <p style="text-align: justify"> essayons de vivre. C'est justement la raison pour laquelle, nous nous sommes regroupés en association et luttons contre les nuisances de l'autoroute. Et vu le vacarme, il faudra parler fort, alors nous avons besoin de vous tous, rejoignez-nous!</p>
                </div>

             <div class="col-lg-12 text-center">
                    <br>
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/-WupZ_0yqbg?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br>
                    <br>
                    <p>Marre du bruit ? Mettez sur pause. Nous, on en rêve...</p>
                </div> 
            </div>
            {% if page.slider %}
                {% include slider.html height="100" unit="%" transition="slide" duration="3" %}
                {% endif %}
        </div>
    </section>
