
<section class="success" style="height:px;" id="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <p><img src="/img/logo.png" alt="" width="175px"></p>
                <hr class="star-light">
                <h1 class="">{{ page.headline }}</h1>
            </div>
        </div>
    </div>

</section>

<section id="adherer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <br>

                <h3>Tarifs {{ site.time | date: '%Y' }}</h3>
                <li style="font-size:20px"> 10€ pour la 1ère adhésion dans une maison et 5€ pour les personnes suivantes qui
                    désirent adhérer</li>
                <li style="font-size:20px">30€ pour les personnes morales</li>
                <li style="font-size:20px">2€ pour les personnes en difficulté financière</li>

                <br>
                <br>

                <h3>Virement</h3>
                <p>IBAN: FR76 1027 8090 5400 0202 9560 155
                <p>BIC: CMCIFR2A</p>

                <br>
                <br>

                <h3>Chèque</h3>
                <p>À l'ordre de "ASRNA"</p>
                <p>Adresse: Association ASRNA - 211, Chemin de la Haute Bédoule - 13240 Septèmes-les-vallons</p>

                <br>
                <br>

                <h3>Via la plateforme HelloAsso</h3>
                <p>Un reçu fiscal vous sera délivré. À noter que des frais de fonctionnement sont
                    automatiquement ajoutés par HelloAsso. Vous pouvez les refuser!</p>
                <br>
                <br>
                <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/association-septemoise-pour-la-reduction-des-nuisances-de-l-autoroute/adhesions/adhesion-2024/widget" style="width: 100%; height: 750px; border: none;"></iframe>
            </div>
        </div>
    </div>
</section>

