<!-- Contact Section -->
   <section id="adhesion">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Devenir adhérent</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="resp-container col-lg-8 col-lg-offset-2">
              <iframe class="resp-iframe" id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/association-septemoise-pour-la-reduction-des-nuisances-de-l-autoroute/adhesions/adhesion-annuelle/widget-vignette"></iframe>
       </div>
     </div>
   </div>
   </section>
