<!-- Contact Section -->
   <section id="adhesion">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Devenir adhérent</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/association-septemoise-pour-la-reduction-des-nuisances-de-l-autoroute/adhesions/adhesion-annuelle/widget-vignette-horizontale" style="width:800px;height:400px;border:none;"></iframe><div style="width:100%;text-align:center;">En partenariat avec <a href="https://www.helloasso.com" rel="nofollow">HelloAsso</a></div>
               </div>
           </div>
       </div>
   </section>
