<section class="portfolio" id="mission">

    <div class="container">

        <p>L’association dénonce la pollution de l'air subie par les riverains de l'autoroute.</p>

        <p>Nous avons pris concrètement conscience de la pollution de l'air à travers deux occasions.</p>

        <p>Le premier, anodin et banal, se produit lorsque les riverains nettoient les filtres de leur ventilation externe. Ils constatent la présence de pellicule de boue, noire et visqueuse; cela provient de l'air que nous respirons.</p>

        <p>Un des enfants des riverains a consulté un médecin car il avait des difficultés à respirer. Le médecin a indiqué que c'était de l'asthme. Apprenant que ce tout jeune garçon vivait à proximité de l'autoroute, il a conseillé comme médicament de déménager, ce que les parents ont fait.</p>

        <p>Face à cette nuisance des particules de goudron, de frein, dans l'air, l'association a essayé de quantifier. Étant adhérent à FNE 13, l'association a bénéficié de 2 capteurs; malgré deux expérimentations avec à chaque fois des capteurs qui se perfectionnent, les adhérents qui se sont spécialisés sur ce domaine n'ont pas pu obtenir de résultats probants.</p>

        <p>Aussi il a été décidé de persévérer, de gagner en compétence, et notamment en demandant à adhérer à Atmosud. Adhésion validée en décembre 2024.</p>



    </div>

</section>