<section class="Portfolio" id="about" style="text-align: justify;">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" id="statuts">
                <h3 > Statuts ({{site.static_files | where: "statuts", true|size}})</h3>
                {% assign my_status = site.static_files | where: "statuts", true %}
                {% for file in my_status reversed  %}
                <p><a href="{{ file.path }}">{{ file.name }}</a></p>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" id="cr">
                <h3 > Comptes rendus ({{site.static_files | where: "cr", true|size}})</h3>
                {% include compte-rendu.html %}
            </div>
        </div>
        <br>
        <br>
    </div>
</section>