<section class="portfolio" id="mission">


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">

<p>L'association veut contraindre les pouvoirs publics à réduire le bruit de l'autoroute pour les riverains à Septèmes. Rappelons que le bruit du trafic routier est généré par les bruits de roulement, les bruits de moteur ainsi que les klaxons et les sirènes des véhicules prioritaires.</p>

<p>Les bruits de roulement sont générés par les pneus ainsi que par la masse du véhicule en mouvement. Une manière de les réduire est de ralentir la vitesse. Actuellement, la vitesse maximale sur la A51 est de 90 km/h. Pour la traversée de Septèmes, nous demandons à ce que la vitesse maximale soit de 70 km/h. Le préfet a pris des arrêtés en ce sens en 2024. Malheureusement, cette mesure courageuse n'a pas été jusqu'à Septèmes.</p>

<p>L'association se bagarre également pour remettre sur le haut de la pile le dossier du mur anti-bruit (MAB) de la basse Bédoule. L'édification de ce mur décidée en 2012 et financée en partie par la métropole et la commune de Septèmes n'a pas débuté. Il s'agit entre autres de protéger une école publique: l'école maternelle et primaire Langevin-Vallon. Sur ce dossier, l’association est en contact avec la Dreal. En 2023, on nous a expliqué verbalement que le mur était à l'arrêt car l'État était sur le point de transférer la gestion des autoroutes urbaines autour de Marseille au département ou à la Métropole. En 2024, toujours verbalement, il nous a été dit que le dossier était à l'arrêt à cause des Jeux Olympiques qui monopolisaient les services de l'État. En fin d'année, il nous a été précisé qu'une enquête de marché public avait été lancée pour recruter l'entreprise de maçonnerie.</p>

<p>L'association exige également l'édification d'un mur anti-bruit sur la haute Bédoule. Sur cette portion d'autoroute, l'État a construit en 92 un mur anti-bruit pour protéger un lotissement. En 2012, la métropole a rendu les terrains en face de ce lotissement, de l'autre côté de l'autoroute, constructibles. La loi Barnier de 1975 interdit cette action. Elle prévoit qu'on ne peut pas construire dans une bande de 100 mètres parallèle à l'axe central de l'autoroute, sauf si on protège efficacement les riverains. À Septèmes, la Métropole n'a pas mis en place de mesures compensatrices pour réduire le bruit au motif que les terrains dérivera sont en contrebas. Il s'agit malheureusement d'une erreur car les terrains sont en contre-haut. L'association a demandé à la Mairie de Septèmes, à plusieurs reprises que cette erreur soit réparée.</p>

<p>À l'occasion des premières demandes individuelles de riverains à qui les promoteurs avaient fait miroiter que la construction d'un mur anti-bruit était imminente, le maire de Septèmes a répondu qu'il ne prendrait cette demande en considération que si elle était portée par une association. Et c'est en réponse à cette demande que l'association Chutt a été créée en 2019. Nous avons réitéré notre demande de mur anti-bruit à l'occasion d'un recours gracieux à l'encontre du dépôt d'un permis de construire de 6 logements sociaux dans la bande des 100 mètres de l'autoroute, toujours sur la haute Bédoule.</p>

<p>Pour ne pas gêner de manière excessive la possibilité de se loger pour des personnes, l'association en est restée à des recours gracieux, pas inutiles cependant puisque l'accès des camions de pompiers a été rendu possible grâce à nos observations. Le plan a été modifié en conséquence.</p>

<p>Par ailleurs, la mairie de Septèmes a pris en compte la question du bruit routier en l'intégrant dans son Agenda 21. De plus, l'équipe municipale avait intégré dans son dernier programme électoral l'engagement de demander la mise en place d'un revêtement anti-bruit sur l'autoroute traversant Septèmes.</p>

<p>L'association utilise la consultation du plan de prévention du bruit dans l'environnement pour faire connaître ses revendications et ses demandes, sans résultats à ce jour.</p>

<p>L'association a adhéré au Centre d'Information du bruit (CIDB), afin de soutenir cette association de référence dans le domaine du bruit, mais aussi de profiter des dernières informations dans ce domaine, très technique.</p>

    </div>
  </div>
</div>