
	<div class="container">
		<div class="row">
			{% assign reviews = site.data.comments sort %}
			 <div class="col-lg-8 col-lg-offset-2">
				 {% for review in reviews %}
				 {% assign reviewData = review[1] %}
				 <i>Publié par {{ reviewData.name }} le {{ reviewData.date | date_to_string }}</i>
				 <p style="font-size: 20px;">{{ reviewData.message }}</p>
				 <br/>
				 <br/>
				 {% endfor %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>Faites-nous part de vos idées, donnez votre avis !</p>
		</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form method="POST" action="https://staticgeorge.herokuapp.com/v2/entry/chutt/chutt.github.io/master/comments">
	 			  <input name="options[redirect]" type="hidden" value="https://www.chutt.org">
				  <!-- e.g. "2016-01-02-this-is-a-post" -->
				  <input name="options[slug]" type="hidden" value="{{ page.slug || home }}">
				  <p><label>Nom <br/><input name="fields[name]" type="text"></label></p>
				  <p><label>Commentaire <br/> <textarea name="fields[message]"></textarea></label></p>
					<button class='btn btn-outline' href=""><i class ='fa fa-download'> Poster</i></button>
				</form>
				<br/>
				<br/>

	  </div>
	 </div>
	</div>
