    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/logo.png" alt="" width="325px">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                        <hr class="star-light">
                        <p style="font-size:15px"><i>Membre de</i><a href="https://www.fne13.fr/" target="_blank"><img class="img-responsive" src="/img/fne13_bdr.png" alt="" width="150"></a><p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
