<section class="success" style="height:px;" id="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <p><img src="/img/logo.png" alt="" width="175px"></p>
                <hr class="star-light">
                <h1 class="">{{ page.headline }}</h1>
            </div>
        </div>
    </div>

</section>

<section id="lutte-incendie">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="text-align: justify;">

                <br>

                <p>Le lien entre les autoroutes et le déclenchement des incendies l'été n'est plus à prouver. Rien que sur le mois de juillet 2025 à Septèmes et environs, nous avons à déplorer deux incendies, l'un le 8 juillet, l'autre le 28 juillet. Tous deux sont partis de l'autoroute. Pour celui du 8 juillet qui a brûlé 700 hectares dans Marseille, les dégâts matériels sont très importants. Et la question se pose de savoir qui va payer? Bien sûr, le propriétaire du véhicule qui n'avait pas fait un contrôle technique et responsable mais les assurances vont également chercher la responsabilité de l'État car le feu est parti du pain au-dessus de la voiture que faisait là ce pin ? Avec tous les dommages intérêts que l'État paie, ou va payer à cause des incendies, combien de murs anti-bruit qui auraient également eu une fonction anti-incendie aurait-on pu construire ?</p>

            </div>
        </div>
    </div>
</section>