
    <!-- Portfolio Grid Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Actualité</h2>
                    <hr class="star-light">
                </div>
            </div>
        </div>
         </section>

    <section class="Portfolio" id="about">
   
            {% for post in site.posts %}
            <div class="container">
            <div class="row">
                
                    {% if post.category contains 'pv' %}

                    <div class="col-lg-8 col-lg-offset-2">
                        <p>{{ post.date | date_to_string }}</p>
                        <p>{{ post.title }}</p>
                            <span>[
                            {% for tag in page.tags %}
                             {% capture tag_name %}{{ tag }}{% endcapture %}
                                 <a href="/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                                     {% endfor %}
                                        ]</span>
                        <p>{{ post.description }}</p>
                        <a href="{{ post.doclink }}" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Consultez le PV</a>
                        <br/>
                        <br/>

                    </div>
                

                    {% elsif post.category == 'statuts' %}

                    <div class="col-lg-8 col-lg-offset-2">
                        <p>{{ post.date | date_to_string }}</p>
                        <p>{{ post.title }}</p>
                         <span>[
                            {% for tag in page.tags %}
                             {% capture tag_name %}{{ tag }}{% endcapture %}
                                 <a href="/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                                     {% endfor %}
                                        ]</span>
                        <p>{{ post.description }}</p>
                        <a href="{{ post.doclink }}" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Consultez les statuts</a>
                        <br/>
                        <br/>
                    </div>

                    {% elsif post.category == 'presse' %}

                    <div class="col-lg-8 col-lg-offset-2">
                        <p>{{ post.date | date_to_string }}</p>
                        <p>{{ post.title }}</p>
                         <span>[
                            {% for tag in page.tags %}
                             {% capture tag_name %}{{ tag }}{% endcapture %}
                                 <a href="/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
                                     {% endfor %}
                                        ]</span>
                        <p>{{ post.description }}</p>
                        <a href="{{ post.doclink }}" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Lire l'article</a>
                        <br/>
                        <br/>
                    </div>
             
                
                    {% endif %}  
            {% endfor %}    

            </div>
        </div>
    </section>
