<section class="portfolio" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-30">
                <p>Septèmes-les-Vallons, pourrait être un jour, peut-être, un exemple brillant de la façon dont la végétalisation peut métamorphoser un environnement urbain.</p>
                <p>Un jour peut-être les jeunes générations feront le choix de végétaliser tout l'espace urbain, créant ainsi un cadre de vie agréable et harmonieux.</p>
                <p>La végétalisation à Septèmes ne se limiterait pas à l’embellissement des espaces publics, mais elle participerait à la préservation de la biodiversité et à l’amélioration de la qualité de l’air.</p>
                <p>Les nombreux arbres et végétaux plantés au cœur de la ville contribueraient à rendre l’environnement plus sain, plus frais et plus agréable, même durant les chaudes journées estivales ; offrant un cadre de vie où la végétation jouerait un rôle central dans la qualité de vie et le bien-être de ses habitants...</p>
                <p>Un jour peut-être...</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-30">
                <h2>Rêve de végétalisation…</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-30">
                <p>Sous le ciel doux de Septèmes, un souffle nouveau,<br/>
                    La ville renaît, sous les mains de jardiniers fous.<br/>
                    Les routes autrefois grises et bruyantes<br/>
                    Se parent désormais de vert et de lumière<br/><br/>
                    Les arbres s’élèvent, majestueux et fiers,<br/>
                    Leurs racines s’enfoncent dans la terre nourricière,<br/>
                    Et les murs autrefois nus et sans éclat,<br/>
                    Cèdent la place aux feuillages, aux lianes qui se noient.<br/><br/>
                    Les jardins fleurissent au coin de chaque rue,<br/>
                    Dans un éclat de couleurs qui dansent<br/>
                    Les habitants, les yeux brillants, s’émerveillent,<br/>
                    De ces oiseaux, ces papillons qui se réveillent.<br/><br/>
                    Le vent emporte, léger, le parfum du thym,<br/>
                    De la lavande, du romarin, tout est divin.<br/>
                    La ville respire, reprend son souffle lent,<br/>
                    Dans une symphonie de verts éclatants.<br/><br/>
                    Septèmes se transforme, se fait jardin<br/>
                    Où chaque coin de rue est un petit matin<br/>
                    Un lieu de rencontre, de calme et d’espoir,<br/>
                    Où la Nature et l'Homme se réconcilient quelque part.<br/><br/>
                    Et dans cette danse, ce mariage heureux,<br/>
                    Avec la Nature, l'Homme est plus joyeux<br/>
                    Car la végétalisation n'est pas qu'un rêve,<br/>
                    C'est un futur où l'harmonie sans cesse s'élève…<br/><br/>
                    Marie-Catherine VALLON
                </p>
            </div>
        </div>
    </div>
</section>