 <!-- Video Section -->
    <section class="video" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                </div>
                <div class="col-lg-6 text-center" style="text-align: justify;">
                    <p>Notre association pour la réduction des nuisances de l'autoroute présente une série de conseils pour mieux vivre à coté d'un autoroute.</p>
                </div>
                <div class="col-lg-3 text-center">
                </div>
            </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="padding-top: 15px;font-size: 40px"><strong>-1-</strong></p>
                <p>Fais comme l'autruche, mets la tête sous terre</p>
            </div>
        </div>

         <div class="row">
             <div class="col-lg-3">
             </div>
            <div class="resp-container col-lg-6">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/DuTFf8TtYro?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-3">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <p style="padding-top: 15px;font-size: 40px"><strong>-2-</strong></p>
                <p>Fais comme la baleine, bats ton record d'apnée</p>
            </div>
        </div>

         <div class="row">
             <div class="col-lg-3">
             </div>
            <div class="resp-container col-lg-6">
                    <iframe class="resp-iframe" src="https://www.youtube.com/embed/aBD9mYhSc5E?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-lg-3">
            </div>
        </div>



    </div>
    </section>
