<!DOCTYPE html>
<html>
 {% include head.html %}
    <body id="page-top" class="index">
      {% include nav.html %}


<section class="Portfolio" id="about" style="text-align: justify;">
<div class="container">
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <br/>
                        <br/>
                        <br/>
                      <p style="font-size: 30px;">Merci pour votre commentaire !
                          <p style="font-size:20px;"> Votre commentaire est en cours de validation et sera publié sous 48 heures.</p>
                        <br/>
                        <a href="/"><button class="btn btn-outline">Vers la page d'accueil</button></a>
                    </div>
            </div>
</div>
</section>

{% if site.contact == "static" %}


    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>