<!DOCTYPE html>
<html>
 {% include head.html %}
    <body id="page-top" class="index">
      {% include nav.html %}
    


<section class="success" style="height:px;" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>
                    <p><img src="/img/logo.png" alt="" width="175px"></p>
                    <hr class="star-light">
                    {% if page.url contains "vivre-avec-autoroute" %}
                    <h1 class="">{{ page.headline }}</h1>
                    {% else %}
                     <h1 class="">{{ page.title }}</h1>
                    {% endif%}
                </div>
            </div>
        </div>

         </section>

{% if page.url contains "vivre-avec-autoroute" %}
      {% include video.html %}
    {% else if page.url contains "bruit" %}
    {% include bruit.html %}
    {% else if page.url contains "air" %}
    {% include air.html %}
    {% else if page.url contains "végétalisation" %}
    {% include pollution-visuelle.html %}
    {% else if page.url contains "association" %}
    {% include association.html %}
    {% endif %}


<div class="container">
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                      <h3>Nos articles de la rubrique <span class="post-tags">
                        [&nbsp;
                      <code class="highligher-rouge"><nobr>{{ page.tag }}</nobr></code>&nbsp;
                        ]
                          ({{site.tags[page.tag]|size}})
                      </span></h3>
                    	    

{% for post in site.tags[page.tag] %}
  {% if post.lang %}
  <p> lang="{{post.lang}}"></p>
  {% else %}
  <p>
  {% endif %}
  	<a href="{{ post.doclink }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  	<!-- Tags: {{ post.tags | join: ", " }} -->
  </p>
{% endfor %}
                    </div>

    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>