<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include sticky-banner.html %}

<section class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>
                    <p><img src="/img/logo.png" alt="" width="175px"></p>
                    <hr class="star-light">
                    {% if page.url contains "vivre-avec-autoroute" %}
                    <h1 class="">{{ page.headline }}</h1>
                    {% else %}
                     <h1 class="">{{ page.title }}</h1>
                    {% endif%}
                </div>
            </div>
        </div>
</section>

{% if page.url contains "vivre-avec-autoroute" %}
      {% include video.html %}
    {% elsif page.url contains "bruit" %}
    {% include bruit.html %}
    {% elsif page.url contains "air" %}
    {% include air.html %}
    {% elsif page.url contains "végétalisation" %}
    {% include vegetalisation.html %}
    {% elsif page.url contains "lutte-incendie" %}
    {% include lutte-incendie.html %}
    {% elsif page.url contains "association" %}
    {% include association.html %}
    {% endif %}
    {% include tag-posts.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>